SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=whitefeather.techinfo@gmail.com
SMTP_PASS=qtcl snvr vljy oyae
SMTP_FROM=whitefeather.techinfo@gmail.com
CONTACT_TO=whitefeather.techinfo@gmail.com
